{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/runtime"
      ]
    },
    "development": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}