@import '~materialize-css/dist/css/materialize.min.css';

/* helpers */
.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

/* toast */
.toast {
  &-success {
    background-color: #b2ff59;
    color: #212121;
  }

  &-error {
    background-color: #ff5252;
    color: #212121;
  }
}
